.clear {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.outline {
  position: absolute;
  top: 0;
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  font-weight: 500;
  color: var(--primary-color);
  transition: background 0.2s;

  &:hover {
    color: var(--inverted-primary-color);
    background: var(--primary-color);
  }
}

.background {
  background: var(--bg-color);
}

.backgroundInverted {
  background: var(--inverted-bg-color);
}

.square {
  width: 35px;
  height: 35px;
}

.size_m {
  font-size: var(-font-size-m);
}

.size_l {
  font-size: var(-font-size-l);
}

.size_xl {
  font-size: var(-font-size-xl);
}
