.sidebar {
    width: 30%;
    height: calc(100vh - var(--navbar-height));
    max-width: 380px;
    background: var(--secondary-color);
    position: relative;
    transition: width 0.4s;
}

.collapsed {
    width: 100px;
    min-width: auto;
}

.swithers {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 0;

    .switch {
        margin-bottom: 10px;
    }
}

.toggle {
    position: absolute;
    right: 0;
    opacity: 0.5;
    transform: translate(100%, 70vh);
    transition: .7s transform ;

    &:hover {
        opacity: 1;
    }
}

.collapsed .toggle {
    transform: translate(0, 70vh);
}
