.sidebar {
  position: relative;
  width: 300px;
  height: calc(100vh - var(--navbar-height));
  background: var(--secondary-color);
  transition: width 0.4s;
}

.collapsed {
  width: 100px;
  min-width: auto;
}

.swithers {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  width: 100%;

  .switch {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.toggle {
  position: absolute;
  right: 0;
  z-index: 2;
  opacity: 0.5;
  transform: translate(100%, 50vh);
  transition: .7s transform ;

  &:hover {
    opacity: 1;
  }
}


.links {
  padding: 0 10px;

  .item {
    display: flex;
    align-items: center;
    padding: 5px;

    &:hover {
      .link {
        color: var(--inverted-bg-color);
      }
    
      .icon {
        fill: var(--inverted-bg-color);
      }
    }
  }

  .icon {
    fill: var(--inverted-primary-color);
  }
    
  .link {
    margin-left: 5px;
    color: var(--inverted-primary-color);
    opacity: 1;
    transition: .3s opacity;
  }
}

.collapsed {
  .switch {
    margin-right: 0;
  }
  
  .toggle {
    transform: translate(0, 50vh);
  }

  .item {
    justify-content: center;
  }

  .link {
    position: absolute;
    opacity: 0;
  }
}
  