.pageError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: var(--font-l);
  color: #fff;
  background: #0b1116;
}

.reload {
  margin-top: 20px;
  border: 1px solid #ffffff3f;
  padding: 5px 15px;
  font: var(--font-m);
  color: var(--error-color);
  background: var(--inverted-bg-color);
}
