.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px 3px 6px rgb(0 0 0 / 30%);
    background: var(--bg-color); 
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;    
    font: var(--font-m);
    font-weight: bold;
}

.circle,
.inner {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: content-box;
}

.circle {
    background-color: #fff;
    padding: 5px;
    position: relative;
    box-shadow: inset -2px 2px 20px rgb(0 0 0 / 20%), -2px 2px 30px rgb(0 0 0 / 30%);
    display: inline-block;
    margin: 0 auto;
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset -2px 2px 2px #fff;
    border-radius: 50%;
}


.lang-switcher {
    &.light .inner {
        background: var(--bg-inverted-color); 
        color: var(--bg-color);
    }

    &.dark .inner {
        background: var(--bg-color); 
        color: var(--primary-color);
    }

    &:hover .inner {
        background: var(--bg-inverted-color);  
        color: var(--inverted-secondary-color);
    }
}