.app.light {
    --bg-color: #fff;
    --inverted-bg-color: rgb(39 24 24 / 86.7%);
    --primary-color: rgb(27 23 23 / 77.4%);
    --secondary-color: rgb(0 0 0 / 73.3%);
    --inverted-primary-color: rgb(255 255 255 / 53.3%);
    --inverted-secondary-color: rgb(131 120 219);
}
