.app.light {
  --bg-color: #efeff5;
  --inverted-bg-color: #0b1116;
  --primary-color: #000;
  --secondary-color: #9a9da8;
  --inverted-primary-color: #f7f7fa;
  --inverted-secondary-color: #9a9da8;
}
