.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    padding: 15px;
}

.links {
    margin: 0 auto;
}

.navbar-item {
    margin: 0 15px;
    transition: margin 0.5s;
    
    &:hover {
        margin: 0 20px;
    }
}
