.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.links {
  margin: 0 auto;
}

.navbarItem {
  margin: 0 15px;
  transition: margin 0.5s;
    
  &:hover {
    margin: 0 20px;
  }
}
